<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: commonHead('Administrator List')">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> Home <span class="c-gray en">&gt;</span> System Administration <span class="c-gray en">&gt;</span> Administrator List
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="Refresh" ><i id="shuaxin" class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
	<form action="/admin/findAdminByName">
		<input type="text" th:value="${nameTmp}" class="input-text" style="width:250px" placeholder="Enter the administrator name" id="" name="nameTmp" />
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> Search users</button>
	</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
	<a href="javascript:;" onclick="admin_add('Add Administrator','/admin/admin-add','800','300')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> Add Administrator</a></span> <span class="r">共有数据：<strong th:text="${adminNum}"></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">Administrator List</th>
			</tr>
			<tr class="text-c">
				<th width="45">Serial number</th>
				<th width="150">Administrator Name</th>
				<th width="150">Password</th>
				<th width="100">Registration Time</th>
				<th width="100">Operation</th>
			</tr>
		</thead>


